{% extends 'base.html' %}
{% load static %}
{% block title %}EGRA - Projects{% endblock %}

{% block content %}


        <div class="block please-login-to-create-projects">
            <div class="block-background">
                <canvas id="please-login-to-create-projects"></canvas>
            </div>	
            <div class="block-content">
                
                        <br>
                        <br>
                        {% if requested_user %}
                            <h1>{{requested_user.get_username}}`s projects: </h1>
                        {% else %}
                            <h1>Projects of our community: </h1>
                        {% endif %}
                        <br>
                        <hr>
                        <br>
                        <div class="projects">
                            {% if projects %}
                                {% for project in projects %}
                                    <div class="project">
                                        <div class="preview" style="background-image: url('{{ project.preview.url }}')">
        
                                        </div>
                                        <br>
                                        <hr>
                                        <div class="info">
                                            <a href="{% url 'graphs:project' project.id %}">{{project.name|truncatechars_html:40}}</a>
                                            <em>{{project.creation_date}}</em>
                                            {% if not requested_user %}
                                            <a href="{% url 'graphs:projects_of' project.user.id %}">{{project.user.get_username}}</a>
                                            {% endif %}
                                        </div>
                                    </div>                                
                                {% endfor %}

                            {% else %}
                                    <p>Users haven't created any projects yet.</p>
                            {% endif %}


                        </div>
                            
            </div>		
        </div>
        <script src="{% static 'js/ui/please-login-to-create-projects.js' %}"></script>

{% endblock %}